:host { display: block; }

#map {
  height: 100%;
  width: 100%;
  z-index: 1;
}

::ng-deep .leaflet-pane img,
::ng-deep .leaflet-tile-container img {
  max-width: none !important;
  max-height: none !important;
}
