<nav class="fixed w-full bg-white border-gray-200 dark:bg-gray-900">
<div class="flex flex-wrap justify-between mx-auto p-4">
    <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/logo.png" class="h-8" alt="Logo"/>
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Frict</span>
    </a>
    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">


      <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="group mr-4" type="button">
        <img class="w-5 h-5 mr-4 rounded-full group-focus:hidden" src="/bell.png" alt="Notifications">
        <img class="w-5 h-5 mr-4 rounded-full hidden group-focus:block" src="/s-bell.png" alt="Notifications active">
      </button>

      <!-- Dropdown menu -->
      <div id="dropdown" class=" hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Notificación 1</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Notificación 2</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Notificación 3</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Notificación 4</a>
          </li>
        </ul>
      </div>

      <button type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
        <span class="sr-only">Open user menu</span>
        <img class="w-10 h-10 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-3.jpg" alt="user photo">
      </button>

      <!-- Dropdown menu -->
      <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
        <div class="px-4 py-3">
          <span class="block text-sm text-gray-900 dark:text-white">Bonnie Green</span>
          <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">user.gmail.com</span>
        </div>
        <ul class="py-2">
          <li>
            <a routerLink="/profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Perfil</a>
          </li>
          <li>
            <a routerLink="/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Cerrar sesión</a>
          </li>
        </ul>
      </div>
      <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>
    <div class="items-center hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a routerLink="/" routerLinkActive="text-yellow-300" #rlah="routerLinkActive" [routerLinkActiveOptions]="{ exact: true }" class="flex items-center gap-1 py-2 px-3 text-white rounded-sm md:bg-transparent">
            <img *ngIf="!rlah.isActive" class="w-5 h-5" src="/home.png" alt="Home">
            <img *ngIf="rlah.isActive" class="w-5 h-5" src="/s-home.png" alt="Home active">
            <div class="md:hidden lg:block"> Inicio </div>
          </a>
        </li>
        <li>
          <a routerLink="/shops" routerLinkActive="text-yellow-300" #rlas="routerLinkActive" [routerLinkActiveOptions]="{ exact: true }" class="flex items-center gap-1 py-2 px-3 text-white rounded-sm md:bg-transparent">
            <img *ngIf="!rlas.isActive" class="w-5 h-5" src="/shop.png" alt="Shop">
            <img *ngIf="rlas.isActive" class="w-5 h-5" src="/s-shop.png" alt="Shop active">
            <div class="md:hidden lg:block"> Tiendas </div>
          </a>
        </li>
        <li>
          <a routerLink="/delivery" routerLinkActive="text-yellow-300" #rlat="routerLinkActive" [routerLinkActiveOptions]="{ exact: true }" class="flex items-center gap-1 py-2 px-3 text-white rounded-sm md:bg-transparent">
            <img *ngIf="!rlat.isActive" class="w-5 h-5" src="/truck.png" alt="Truck">
            <img *ngIf="rlat.isActive" class="w-5 h-5" src="/s-truck.png" alt="Truck active">
            <div class="md:hidden lg:block"> Pedidos </div>
          </a>
        </li>
        <li>
          <a routerLink="/reports" routerLinkActive="text-yellow-300" #rlar="routerLinkActive" [routerLinkActiveOptions]="{ exact: true }" class="flex items-center gap-1 py-2 px-3 text-white rounded-sm md:bg-transparent">
            <img *ngIf="!rlar.isActive" class="w-5 h-5" src="/report.png" alt="Report">
            <img *ngIf="rlar.isActive" class="w-5 h-5" src="/s-report.png" alt="Report active">
            <div class="md:hidden lg:block"> Informes </div>
          </a>
        </li>
        <li>
          <a routerLink="/users" routerLinkActive="text-yellow-300" #rlau="routerLinkActive" [routerLinkActiveOptions]="{ exact: true }" class="flex items-center gap-1 py-2 px-3 text-white rounded-sm md:bg-transparent">
            <img *ngIf="!rlau.isActive" class="w-5 h-5" ngSrc="/user.png" alt="User" height="96" width="96">
            <img *ngIf="rlau.isActive" class="w-5 h-5" ngSrc="/s-user.png" alt="User active" height="96" width="96">
            <div class="md:hidden lg:block"> Usuarios </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
