<app-navbar></app-navbar>

<div *ngIf="!availableProducts" id="noProducts">
  <div class="noProducts m-4">
    No hay productos disponibles para mostrar.
  </div>
</div>

<div *ngIf="availableProducts" id="productList">
  <ng-template ngFor let-product [ngForOf]="products">
    <div class="product m-4">
      Producto {{product.id}} <br> <!-- Optional: ? -->
      Número de referencia: {{product.referenceCode}} <br>
      Nombre: {{product.name}} <br>
      Descripción: {{product.description}} <br>
      Precio: {{product.price}} <br>
    </div>
  </ng-template>
</div>
