<!-- h-171 to avoid scroll when an error occurs, change to min-h-screen if footer does not need to be shown -->
<div *ngIf="loading" class="h-171 bg-black/40 backdrop-blur-sm flex items-center justify-center z-50">
  <div class="flex flex-col items-center gap-3">
    <p-progress-spinner
      strokeWidth="4"
      fill="transparent"
      animationDuration="1s"
      [style]="{ width: '3.5rem', height: '3.5rem' }"
    ></p-progress-spinner>
    <span class="text-white text-lg font-medium">{{ loadingText }}</span>
  </div>
</div>

<div *ngIf="!loading && error" class="h-171 flex flex-col items-center justify-center bg-surface-900 text-surface-100 px-4">

  <a routerLink="/" class="flex items-center mb-8 text-2xl font-semibold text-white">
    <img class="w-8 h-8 mr-2" src="/shopLogo.png" alt="logo">
    MiTienda
  </a>

  <div class="w-full max-w-md bg-surface-800 rounded-2xl shadow-lg p-8 text-center space-y-6">
    <h1 class="text-6xl font-extrabold text-primary-600">Error</h1>

    <p class="text-surface-400 text-sm">
      {{ errorText }}
    </p>

    <div class="flex flex-col gap-3 mt-6">
      <a (click)="reloadPage()" class="w-full bg-primary-600 hover:bg-primary-500 text-white font-medium rounded-lg py-2">
        Volver a intentarlo
      </a>
    </div>
  </div>
</div>

