global
    log stdout format raw local0

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5s
    timeout client  60s
    timeout server  60s
    timeout tunnel  1h

frontend http_front
    bind *:80
    default_backend app_servers

backend app_servers
    balance roundrobin
    cookie SERVERID insert indirect nocache
    option httpchk GET /actuator/health
    http-check expect status 200

    server app-1 app-1:8443 check cookie app1
    server app-2 app-2:8443 check cookie app2
    server app-3 app-3:8443 check cookie app3
