
<div class="min-h-screen pb-12 font-sans text-surface-900">

  <header class="bg-gray-100 border-b border-surface-200">
    <div class="max-w-[95%] xl:max-w-[83%] mx-auto">
      <div class="flex flex-col-reverse md:flex-row md:items-stretch justify-between gap-8">

        <div class="flex-1 text-center md:text-left flex flex-col">

          <div class="text-sm md:pt-8">
            <app-breadcrumb></app-breadcrumb>
          </div>

          <div class="py-8">
            <h1 class="text-3xl md:text-4xl font-extrabold text-surface-900 tracking-tight mb-4 ">
              <i [class]="mainCategory.icon + ' mr-3'" style="font-size: 2rem"></i> {{ mainCategory.name }}
            </h1>
            <p class="text-surface-600 text-sm md:text-base leading-relaxed max-w-2xl">
              {{ mainCategory.shortDescription }}
            </p>
          </div>
        </div>

        <div class="w-full md:w-1/2 lg:w-1/3 flex justify-center md:justify-end">
          <img [src]="mainCategory.imageInfo.imageUrl"
               alt="Seguridad Banner"
               class="rounded-xl w-full h-60 md:h-74 object-cover object-center mix-blend-multiply">
        </div>
      </div>
    </div>
  </header>

  <div class="max-w-[95%] xl:max-w-[83%] mx-auto space-y-12 mt-8">

    <section class="bg-white border border-surface-200 rounded-2xl p-6 md:p-10">
      <h2 class="text-2xl font-bold text-surface-900 mb-4">{{ mainCategory.bannerText }}</h2>
      <div class="prose prose-sm max-w-none text-surface-600">
        <p class="mb-4">
          {{ mainCategory.longDescription }}
        </p>
      </div>
    </section>

    <section>
      <div class="flex gap-12 overflow-x-auto hide-scrollbar pb-4 sm:flex-wrap sm:justify-center">

        @for (sub of mainCategory.children; track sub.id) {
          @let hasChildren = sub.children && sub.children.length > 0;

          <div
            [routerLink]="hasChildren ? ['/category', sub.id] : ['/search']"
            [queryParams]="hasChildren ? null : { categories: sub.id }"
            class="flex flex-col items-center gap-2 min-w-[80px] cursor-pointer group">

            <div class="w-20 h-20 rounded-full bg-white border border-surface-200 shadow-sm flex items-center justify-center text-surface-600 group-hover:border-primary-500 group-hover:text-primary-600 transition-all duration-300">
              <i [class]="(sub.icon || 'pi pi-tag') + ' !text-4xl'"></i>
            </div>

            <span class="text-md font-bold text-surface-700 text-center group-hover:text-primary-600">
          {{ sub.name }}
        </span>
          </div>
        }

      </div>
    </section>

    <section>
      <div class="flex items-center gap-3 mb-6">
        <div class="w-1.5 h-8 bg-amber-500 rounded-full"></div>
        <h2 class="text-2xl md:text-3xl font-bold text-surface-900 tracking-tight">Los más vendidos en {{ mainCategory.name }}</h2>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
        <div *ngFor="let p of topSalesProducts">
          <app-product-card [product]="p" [elementId]="'recommendedProduct-' + p.id"/>
        </div>
      </div>
    </section>

    <section>
      <div class="flex items-center gap-3 mb-6">
        <div class="w-1.5 h-8 bg-indigo-500 rounded-full"></div>
        <h2 class="text-2xl md:text-3xl font-bold text-surface-900 tracking-tight">Otras categorías similares</h2>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
        @for (cat of similarCategories; track cat.id) {
          @let hasChildren = cat.children && cat.children.length > 0;
          <div [routerLink]="hasChildren ? ['/category', cat.id] : ['/search']" [queryParams]="hasChildren ? null : { categories: cat.id }" class="relative h-64 rounded-xl overflow-hidden cursor-pointer group">
            <img [src]="cat.imageInfo.imageUrl" class="absolute inset-0 w-full h-full object-cover transition-transform duration-700 group-hover:scale-110">
            <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/20 to-transparent flex flex-col justify-end p-6">
              <h3 class="text-white font-bold text-lg leading-tight mb-1">{{ cat.name }}</h3>
              <p class="text-surface-300 text-xs">{{ cat.shortDescription }}</p>

              <button class="mt-3 bg-white/20 backdrop-blur-md text-white border border-white/30 rounded-full py-1 px-4 text-xs font-bold w-max opacity-0 group-hover:opacity-100 transition-opacity transform translate-y-2 group-hover:translate-y-0">
                Ver productos
              </button>
            </div>
          </div>
        }
      </div>
    </section>

    <section>
      <div class="flex items-center gap-3 mb-6">
        <div class="w-1.5 h-8 bg-cyan-500 rounded-full"></div>
        <h2 class="text-2xl md:text-3xl font-bold text-surface-900 tracking-tight">Nuestra selección (provisional)</h2>
      </div>

      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div *ngFor="let use of useCases" class="bg-white p-4 rounded-xl border border-surface-200 shadow-sm hover:border-primary-400 cursor-pointer transition-colors flex flex-col items-center text-center gap-3">
          <div class="w-12 h-12 rounded-full bg-primary-50 text-primary-600 flex items-center justify-center">
            <i [class]="use.icon + ' text-xl'"></i>
          </div>
          <span class="font-bold text-surface-700 text-sm">{{ use.title }}</span>
          <span class="text-xs text-primary-600 font-medium">Ver selección <i class="pi pi-arrow-right text-[10px]"></i></span>
        </div>
      </div>
    </section>
  </div>
</div>
