<app-navbar></app-navbar>

<div *ngIf="loading || error">
  <app-loading-screen [loading]="loading" [error]="error" (tryReload)="resetError()"></app-loading-screen>
</div>

<div *ngIf="!loading && !error" class="max-w-9/12 mx-auto p-4 my-8">
  <!-- Information messages -->
  <p-toast position="bottom-right" pStyleClass="position-top: 70px"></p-toast>

  <!-- Breadcrumbs -->
  <!-- Later in development...
  <nav class="flex flex-wrap items-center gap-2 text-md text-surface-400 py-2">
    <p-breadcrumb [home]="homePage" [model]="previousPages"/>
  </nav>
  -->

  <!-- Product title -->
  <div class="flex flex-wrap items-center gap-3 mt-2">
    <h1 class="text-3xl font-bold">{{ product.name }}</h1>
    <app-stock-tag [units]="product.availableUnits"></app-stock-tag>
  </div>

  <!-- Main grid -->
  <section class="flex flex-col gap-4">

    <!-- Gallery + Buy Menu -->
    <div class="flex flex-col xl:flex-row gap-4 my-10">

      <!-- Gallery -->
      <div class="xl:w-3/5 space-y-4">
        <div class="flex justify-center">
          <p-galleria
            [value]="images"
            [responsiveOptions]="galleryResponsiveOptions"
            [containerStyle]="{ 'width': '100%' }"
            [numVisible]="4"
            [circular]="true">

            <ng-template pTemplate="item" let-item>
              <img [src]="item.itemImageSrc" style="width: 100%; display: block;" alt="1"/>
            </ng-template>

            <ng-template pTemplate="thumbnail" let-item>
              <img [src]="item.thumbnailImageSrc" style="width: 100%;" alt="2"/>
            </ng-template>

          </p-galleria>
        </div>
      </div>

      <!-- Buy Menu -->
      <div class="w-full xl:w-2/5 bg-surface-800 p-4 rounded-2xl shadow border border-surface-800 space-y-4 h-fit">

        <div class="flex flex-col sm:flex-row sm:items-baseline sm:gap-2">

          <div class="flex items-baseline gap-2">
            <span class="text-3xl font-extrabold text-white">{{formatPrice(product.currentPrice)}}</span>

            <div *ngIf="product.previousPrice > 0 && product.discount != '0%'" class="flex items-baseline gap-2">
              <span class="line-through text-surface-400 text-lg">{{formatPrice(product.previousPrice)}}</span>
              <span class="bg-red-600 text-white rounded px-2 text-sm font-bold"> {{product.discount}} </span>
            </div>
          </div>

          <span class="py-1 bg-surface-800 text-surface-400 text-xs mt-2 sm:mt-0">
    Cód. referencia: {{ product.referenceCode }}
  </span>
        </div>

        <div class="bg-primary-500/20 border-l-4 border-primary-500 text-primary-200 px-3 py-2 rounded text-sm">
          <i class="pi pi-star-fill" style="font-size: 0.75rem"></i>
          {{ product.averageRating }}/5 · {{product.totalReviews}} {{ product.totalReviews === 1 ? 'opinión' : 'opiniones' }}
        </div>

        <div class="text-sm text-surface-300 mt-8 space-y-8 gap-2">
          <p-button (click)="showShippingDialog()" label="Envío: Gratis (en compras superiores a 50€)" icon="pi pi-truck" styleClass="w-full !justify-start !bg-surface-700 !border-0 !text-left"/>
          <p-button (click)="showAvailabilityDialog()" label="Consultar disponibilidad en tienda" icon="pi pi-box" styleClass="w-full !justify-start !bg-surface-700 !border-0 !text-left !mt-4"/>
          <p-dialog header="Envíos" [modal]="true" [(visible)]="visibleShippingDialog" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
            <p>
              Todos los envíos son gratuitos para pedidos superiores a 50€, tanto en Península, Baleares y Canarias.
            </p>
          </p-dialog>
          <p-dialog header="Disponibilidad en tiendas físicas" [modal]="true" [(visible)]="visibleAvailabilityDialog" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
            <p-table [value]="stocks" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template #header>
                <tr>
                  <th>Tienda</th>
                  <th>Dirección</th>
                  <th>Cantidad</th>
                </tr>
              </ng-template>
              <ng-template #body let-stock>
                <tr>
                  <td>{{ stock.shopName }}</td>
                  <td>{{ stock.shopAddress }}</td>
                  <td>{{ stock.units }}</td>
                </tr>
              </ng-template>
            </p-table>
          </p-dialog>
        </div>

        <!-- Model and quantity dropdowns -->
        <div class="space-y-1">
          <!-- Later in development...
          <label class="block text-sm text-surface-300 mt-8">Modelo:</label>
          <p-select [(ngModel)]="selectedModel" [options]="productModels" optionLabel="name" placeholder="Large" class="w-full mt-0"/>
          -->

          <p class="text-sm text-surface-300 mt-4">Cantidad:</p>
          <p-inputnumber [(ngModel)]="quantity" [showButtons]="true" inputId="minmax-buttons" [min]="1" [max]="product.availableUnits" class="w-full"></p-inputnumber>
        </div>

        <div class="mt-8 grid gap-2">
          <p-button (click)="addItemToCart()" [label]="product.availableUnits ? 'Añadir a la cesta' : 'Agotado'" [disabled]="!product.availableUnits || quantity == 0" [icon]="product.availableUnits ? 'pi pi-cart-plus' : 'pi pi-times'" styleClass="w-full"/>
          <p-button (click)="addToFavourites()" label="Añadir a la lista de deseos" icon="pi pi-bookmark" severity="secondary" styleClass="w-full"/>
        </div>
      </div>
    </div>

    <!-- Tabs -->
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">Información general</p-tab>
        <p-tab disabled value="1">Especificaciones</p-tab>
        <p-tab disabled value="2">Estadísticas</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <p class="mt-2">
            {{ product.description }}
          </p>
        </p-tabpanel>
        <p-tabpanel value="1">
          <p class="mt-2">
            Not implemented yet. Coming soon!
          </p>
        </p-tabpanel>
        <p-tabpanel value="2">
          <p class="mt-2">
            Not implemented yet. Coming soon!
          </p>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>

    <!-- Users opinions and rating for the product -->
    <div class="mt-8">
      <h2 class="text-2xl font-bold text-surface-800 mb-8">Valoraciones y reseñas</h2>

      <div class="flex gap-10">

          <div class="flex flex-wrap gap-4">
            <div class="p-5 bg-gray-100 rounded-xl w-38 flex flex-col items-center">
              <p class="text-4xl font-bold mb-3">{{ product.averageRating }}</p>
              <p-rating [ngModel]="Math.floor(this.product.averageRating)" [readonly]="true"></p-rating>
              <p class="text-sm text-gray-500 mt-1">
                {{product.totalReviews}} {{ product.totalReviews === 1 ? 'opinión' : 'opiniones' }}
              </p>
            </div>

            <div class="p-5 bg-gray-100 rounded-xl w-38 flex flex-col items-center">
              <p class="text-4xl font-bold mb-2">{{ recommendationPercentage }}%</p>
              <p class="font-semibold">Recomiendan</p>
              <p class="text-sm text-gray-500 mt-1">{{ recommendedCount }} positivas</p>
            </div>

            <div class="p-5 bg-gray-100 rounded-xl w-80 gap-3">
              <div *ngFor="let star of stars" class="flex items-center gap-3">
                <span class="text-sm font-medium">{{ star.value }}</span>
                <i class="pi pi-star" style="font-size: 0.7rem"></i>

                <div class="flex-1">
                  <p-metergroup [value]="[{value: star.count, icon:'pi pi-star', color: '#111' }]" [max]="product.totalReviews" labelPosition="start" orientation="horizontal">
                    <ng-template pTemplate="label" let-valueItems>
                      <ol class="p-metergroup-labels p-component p-metergroup-labels-horizontal">
                        <li *ngFor="let item of valueItems; let i = index" class="p-metergroup-label">
                          <span class="p-metergroup-label-text">{{ item.label }}</span>
                        </li>
                      </ol>
                    </ng-template>
                  </p-metergroup>
                </div>
'
                <span class="w-6 text-sm font-medium text-gray-600">{{ star.count }}</span>
              </div>
            </div>
          </div>
      </div>


      <!-- BARRA DE ESCRITURA DE RESEÑA -->
      <div class="my-10" *ngIf="authService.isLogged() && authService.isUser() && !userReviewed">
        <h2 class="text-xl font-bold text-surface-800"> Publicar una reseña</h2>
        <p class="text-gray-600 text-sm mb-4">Escribe tu opinión sobre este producto.</p>

        <div class="p-4 border border-gray-300 rounded-xl bg-white shadow-sm w-full mx-auto">
          <div class="flex items-center justify-between mb-4">
            <!-- Profile photo -->
            <div class="flex items-center gap-3">
              <p-avatar [image]="loggedUserInfo.imageUrl" shape="circle" class="shrink-0"></p-avatar>
              <span class="text-surface-800 hidden sm:inline font-bold">{{ loggedUserInfo.name }}</span>
            </div>

            <!-- Editable centered rating -->
            <div class="flex-1 flex justify-center">
              <span class="hidden sm:inline mr-2 text-surface-500">Valoración:</span>
              <p-rating [(ngModel)]="newReview.rating"></p-rating>
            </div>

            <!-- Publish review button -->
            <p-button
              class="ml-2 flex items-center justify-center h-10"
              (onClick)="submitReview()"
              iconPos="left"
            >
              <ng-template pTemplate="content">
                <div class="flex items-center">
                  <i class="pi pi-send"></i>
                  <span class="hidden sm:inline ml-2 font-semibold">Publicar reseña</span>
                </div>
              </ng-template>
            </p-button>
          </div>

          <!-- Large textarea -->
          <p-floatlabel variant="on">
          <textarea
            pTextarea
            [(ngModel)]="newReview.text"
            [autoResize]="true"
            rows="6"
            id="description"
            class="w-full p-3 border border-gray-300 rounded-lg resize-none focus:border-primary-500 mb-4"></textarea>
            <label for="description">Descripción...</label>
          </p-floatlabel>

          <!-- Recommendation: question + buttons -->
          <div class="flex items-center gap-4">
            <span class="text-surface-500">¿Recomiendas el producto?</span>
            <p-button icon="pi pi-thumbs-up" (onClick)="setRecommendation(true)" [severity]="newReview.recommended ? 'success' : 'secondary'" class="p-button-outlined"></p-button>
            <p-button icon="pi pi-thumbs-down" (onClick)="setRecommendation(false)" [severity]="!newReview.recommended ? 'danger' : 'secondary'" class="p-button-outlined"></p-button>
          </div>
        </div>
      </div>

      <div class="my-10" *ngIf="productReviews.length">
        <h2 class="text-xl font-bold text-surface-800">Reseñas de otros usuarios</h2>
        <p class="text-gray-600 text-sm">Mira qué piensan otros usuarios del producto.</p>
        <p-panel *ngFor="let review of productReviews" [toggleable]="true" styleClass="my-4 bg-surface-100">
          <ng-template #header>
            <div class="flex items-center justify-between gap-2 my-3 w-full">
              <div class="flex items-center gap-3">
                <p-avatar [image]="review.creatorThumbnailUrl" shape="circle"></p-avatar>
                <span class="hidden sm:inline font-bold">{{ review.creatorName }}</span>
              </div>
              <div class="flex items-center gap-3">
                <span class="text-surface-400 hidden md:flex">{{ review.createdAt }}</span>
                <p-rating [ngModel]="review.rating" [readonly]="true"></p-rating>
                <p-button [icon]="review.recommended ? 'pi pi-thumbs-up' : 'pi pi-thumbs-down'" [disabled]="true" [rounded]="true" [severity]="review.recommended ? 'success' : 'danger'" class="p-button-outlined mx-2"></p-button>
              </div>
            </div>
          </ng-template>
          <p class="m-0">
            {{ review.text }}
          </p>
          <ng-template #footer>
            <div class="flex flex-wrap items-center justify-end gap-4">
              <div class="flex items-center gap-2">
                <div *ngIf="authService.isLogged() && authService.isUser() && userReviewed && (loggedUserInfo.id == review.creatorId)">
                  <p-button (click)="editReview(review.id)" icon="pi pi-pencil" severity="secondary" showDelay="750" pTooltip="Modificar reseña" tooltipPosition="top" class="p-button-outlined mx-2"></p-button>
                  <p-button (click)="deleteReview(review.id)" icon="pi pi-trash" severity="secondary" showDelay="750" pTooltip="Borrar reseña" tooltipPosition="top" class="p-button-outlined mx-2"></p-button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-panel>
      </div>

    </div>

    <!-- Related products (for now, those with the same category) -->
    <div class="mt-8" *ngIf="relatedProducts.length">
      <h2 class="text-2xl font-bold text-surface-800 mb-8">Más en {{ productCategory.name }}</h2>
      <div id="category-content" class="content">
        <ng-container *ngIf="!relatedLoading && !relatedError; else noRelated">
          <p-carousel [value]="relatedProducts" [numVisible]="4" [circular]="true" [responsiveOptions]="carouselResponsiveOptions">
            <ng-template let-p pTemplate="item">
              <app-product-card [product]="p" [elementId]="'recommendedProduct-' + p.id"/>
            </ng-template>
          </p-carousel>
        </ng-container>
        <ng-template #noRelated>
          <app-loading [loading]="relatedLoading" [error]="relatedError" [numElements]="relatedProducts.length" elementsType="productos relacionados"/>
        </ng-template>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
