name: Publish OCI Compose Artifact (dev)

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 1. Build and upload application image (necessary for the artifact to have which to reference)
      - name: Build and push App Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/Dockerfile
          push: true
          tags: mjpulido/frict:dev

      # 2. Publish Compose project as OCI Artifact
      - name: Publish Compose Project as OCI Artifact
        run: |
          docker compose -f docker/docker-compose-dev.yml push