name: Code analysis with Sonarqube

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_DATABASE: Frict
          MYSQL_ROOT_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Start MinIO and Create Bucket
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.MINIO_ROOT_USER }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.MINIO_ROOT_PASSWORD }}
          AWS_REGION: us-east-1
        run: |
          mkdir -p /tmp/minio_certs
          cp -r $(pwd)/docker/minio_https/certs/* /tmp/minio_certs/

          docker run -d \
            -p 9000:9000 \
            -p 9001:9001 \
            --name minio \
            -v /tmp/minio_certs:/root/.minio/certs \
            -e MINIO_ROOT_USER=${{ secrets.MINIO_ROOT_USER }} \
            -e MINIO_ROOT_PASSWORD=${{ secrets.MINIO_ROOT_PASSWORD }} \
            minio/minio server /data --console-address ":9001"

          sleep 5

          aws --endpoint-url https://localhost:9000 --no-verify-ssl s3 mb s3://${{ secrets.MINIO_BUCKET_NAME }}


      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'


      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json


      - name: Install Frontend Dependencies
        working-directory: frontend
        run: |
          npm ci
          npm install -g @angular/cli


      - name: Start Angular project
        working-directory: frontend
        run: ng serve --proxy-config proxy-test.conf.json &


      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar


      - name: Build and analyze
        working-directory: backend
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          SENDER_MAIL_PORT: ${{ secrets.SENDER_MAIL_PORT }}
          SENDER_MAIL_ADDRESS: ${{ secrets.SENDER_MAIL_ADDRESS }}
          SENDER_MAIL_PASSWORD: ${{ secrets.SENDER_MAIL_PASSWORD }}
          GOOGLE_AUTH_CLIENT_ID: ${{ secrets.GOOGLE_AUTH_CLIENT_ID }}

          MINIO_URL: "https://localhost:9000"
          MINIO_ACCESS_KEY: ${{ secrets.MINIO_ROOT_USER }}
          MINIO_SECRET_KEY: ${{ secrets.MINIO_ROOT_PASSWORD }}
          MINIO_SSL_INSECURE: "true"

        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=codeurjc-students_2025-Frict -Dspring.profiles.active=test